# Air Measurements from April to October 2020

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../bcn_open_data/air_quality_2020.csv',index_col=[0])

In [3]:
df.head()

,CODI_PROVINCIA,PROVINCIA,CODI_MUNICIPI,MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,8,Barcelona,19,Barcelona,4,7,2020,4,1,1.0,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
1,8,Barcelona,19,Barcelona,4,7,2020,4,2,1.0,...,3.0,V,1.0,V,1.0,V,1.0,V,1.0,V
2,8,Barcelona,19,Barcelona,4,7,2020,4,3,2.0,...,1.0,V,1.0,V,1.0,V,1.0,V,2.0,V
3,8,Barcelona,19,Barcelona,4,7,2020,4,4,3.0,...,2.0,V,1.0,V,1.0,V,1.0,V,NaN,N
4,8,Barcelona,19,Barcelona,4,7,2020,4,5,1.0,...,1.0,V,1.0,V,4.0,V,1.0,V,1.0,V

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10247 entries, 0 to 1518
Data columns (total 57 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CODI_PROVINCIA    10247 non-null  int64
 1   PROVINCIA         10247 non-null  object
 2   CODI_MUNICIPI     10247 non-null  int64
 3   MUNICIPI          10247 non-null  object
 4   ESTACIO           10247 non-null  int64
 5   CODI_CONTAMINANT  10247 non-null  int64
 6   ANY               10247 non-null  int64
 7   MES               10247 non-null  int64
 8   DIA               10247 non-null  int64
 9   H01               10005 non-null  float64
 10  V01               10247 non-null  object
 11  H02               9745 non-null   float64
 12  V02               10247 non-null  object
 13  H03               9948 non-null   float64
 14  V03               10247 non-null  object
 15  H04               10000 non-null  float64
 16  V04               10247 non-null  object
 17  H05               10005 non-null  float64
 18  V05               10247 non-null  object
 19  H06               10007 non-null  float64
 20  V06               10247 non-null  object
 21  H07               10002 non-null  float64
 22  V07               10247 non-null  object
 23  H08               10020 non-null  float64
 24  V08               10247 non-null  object
 25  H09               10012 non-null  float64
 26  V09               10247 non-null  object
 27  H10               9912 non-null   float64
 28  V10               10247 non-null  object
 29  H11               9734 non-null   float64
 30  V11               10247 non-null  object
 31  H12               9714 non-null   float64
 32  V12               10247 non-null  object
 33  H13               9747 non-null   float64
 34  V13               10247 non-null  object
 35  H14               9791 non-null   float64
 36  V14               10247 non-null  object
 37  H15               9855 non-null   float64
 38  V15               10247 non-null  object
 39  H16               9941 non-null   float64
 40  V16               10247 non-null  object
 41  H17               10014 non-null  float64
 42  V17               10247 non-null  object
 43  H18               10027 non-null  float64
 44  V18               10247 non-null  object
 45  H19               10026 non-null  float64
 46  V19               10247 non-null  object
 47  H20               10029 non-null  float64
 48  V20               10247 non-null  object
 49  H21               10022 non-null  float64
 50  V21               10247 non-null  object
 51  H22               9970 non-null   float64
 52  V22               10247 non-null  object
 53  H23               9861 non-null   float64
 54  V23               10247 non-null  object
 55  H24               4815 non-null   float64
 56  V24               10247 non-null  object
dtypes: float64(24), int64(7), object(26)
memory usage: 4.5+ MB

In [17]:
categoric = df.select_dtypes(exclude = np.number)

In [8]:
categoric

,PROVINCIA,MUNICIPI,V01,V02,V03,V04,V05,V06,V07,V08,...,V16,V17,V18,V19,V20,V21,V22,V23,V24,CODI_PROVINCIA;PROVINCIA;CODI_MUNICIPI;MUNICIPI;ESTACIO;CODI_CONTAMINANT;ANY;MES;DIA;H01;V01;H02;V02;H03;V03;H04;V04;H05;V05;H06;V06;H07;V07;H08;V08;H09;V09;H10;V10;H11;V11;H12;V12;H13;V13;H14;V14;H15;V15;H16;V16;H17;V17;H18;V18;H19;V19;H20;V20;H21;V21;H22;V22;H23;V23;H24;V24
0,Barcelona,Barcelona,V,V,V,V,V,V,V,V,...,N,V,V,V,V,V,V,V,V,NaN
1,Barcelona,Barcelona,V,V,V,V,V,V,V,V,...,V,V,V,V,V,V,V,V,V,NaN
2,Barcelona,Barcelona,V,V,V,V,V,V,V,V,...,V,V,V,V,V,V,V,V,V,NaN
3,Barcelona,Barcelona,V,V,V,V,V,V,V,V,...,V,V,V,V,V,V,V,V,V,NaN
4,Barcelona,Barcelona,V,V,V,V,V,V,V,V,...,V,V,V,V,V,V,V,V,V,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1204,Barcelona,Barcelona,V,V,N,V,V,V,V,V,...,V,V,V,V,V,V,V,V,V,NaN
1205,Barcelona,Barcelona,V,V,V,V,V,V,V,V,...,V,V,V,V,V,V,V,V,V,NaN
1206,Barcelona,Barcelona,V,V,V,V,V,V,V,V,...,V,V,V,V,V,V,V,V,V,NaN
1207,Barcelona,Barcelona,V,V,V,V,V,V,V,V,...,V,V,V,V,V,V,V,V,V,NaN
1208,Barcelona,Barcelona,V,V,V,V,V,V,V,V,...,V,V,V,V,V,V,V,V,V,NaN

In [3]:
df = df.select_dtypes(exclude = object).copy()

In [4]:
df

,CODI_PROVINCIA,CODI_MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,H02,H03,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,8,19,4,7,2020,4,1,1.0,2.0,1.0,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,8,19,4,7,2020,4,2,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0
2,8,19,4,7,2020,4,3,2.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0
3,8,19,4,7,2020,4,4,3.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,NaN
4,8,19,4,7,2020,4,5,1.0,2.0,1.0,...,1.0,2.0,1.0,1.0,2.0,1.0,1.0,4.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1514,8,19,58,14,2020,10,27,56.0,60.0,61.0,...,58.0,59.0,62.0,61.0,61.0,50.0,52.0,55.0,58.0,NaN
1515,8,19,58,14,2020,10,28,62.0,62.0,60.0,...,58.0,54.0,58.0,71.0,59.0,45.0,28.0,55.0,68.0,NaN
1516,8,19,58,14,2020,10,29,62.0,63.0,63.0,...,79.0,87.0,84.0,80.0,86.0,64.0,67.0,73.0,72.0,NaN
1517,8,19,58,14,2020,10,30,79.0,76.0,73.0,...,53.0,73.0,87.0,87.0,88.0,89.0,86.0,93.0,91.0,101.0
1518,8,19,58,14,2020,10,31,84.0,76.0,71.0,...,90.0,90.0,90.0,92.0,98.0,78.0,84.0,76.0,80.0,83.0

In [4]:
df.drop(columns=['CODI_PROVINCIA', 'CODI_MUNICIPI'], inplace=True)

In [6]:
df

,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,H02,H03,H04,H05,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,4,7,2020,4,1,1.0,2.0,1.0,1.0,1.0,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,4,7,2020,4,2,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0
2,4,7,2020,4,3,2.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0
3,4,7,2020,4,4,3.0,2.0,2.0,1.0,1.0,...,2.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,NaN
4,4,7,2020,4,5,1.0,2.0,1.0,1.0,1.0,...,1.0,2.0,1.0,1.0,2.0,1.0,1.0,4.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1514,58,14,2020,10,27,56.0,60.0,61.0,63.0,62.0,...,58.0,59.0,62.0,61.0,61.0,50.0,52.0,55.0,58.0,NaN
1515,58,14,2020,10,28,62.0,62.0,60.0,57.0,53.0,...,58.0,54.0,58.0,71.0,59.0,45.0,28.0,55.0,68.0,NaN
1516,58,14,2020,10,29,62.0,63.0,63.0,68.0,65.0,...,79.0,87.0,84.0,80.0,86.0,64.0,67.0,73.0,72.0,NaN
1517,58,14,2020,10,30,79.0,76.0,73.0,70.0,66.0,...,53.0,73.0,87.0,87.0,88.0,89.0,86.0,93.0,91.0,101.0
1518,58,14,2020,10,31,84.0,76.0,71.0,73.0,67.0,...,90.0,90.0,90.0,92.0,98.0,78.0,84.0,76.0,80.0,83.0

#### Creating Date column joining years, months and days from integers to strings and putting together to get a date.

In [5]:
df['DATA'] = (df["ANY"].astype(str).apply(lambda x: x) + "/"  + df["MES"].astype(str).apply(lambda x: x) + "/" + df["DIA"].astype(str).apply(lambda x: x))

In [6]:
df

,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,H02,H03,H04,H05,...,H16,H17,H18,H19,H20,H21,H22,H23,H24,DATA
0,4,7,2020,4,1,1.0,2.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2020/4/1
1,4,7,2020,4,2,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,2020/4/2
2,4,7,2020,4,3,2.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2020/4/3
3,4,7,2020,4,4,3.0,2.0,2.0,1.0,1.0,...,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,NaN,2020/4/4
4,4,7,2020,4,5,1.0,2.0,1.0,1.0,1.0,...,2.0,1.0,1.0,2.0,1.0,1.0,4.0,1.0,1.0,2020/4/5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1514,58,14,2020,10,27,56.0,60.0,61.0,63.0,62.0,...,59.0,62.0,61.0,61.0,50.0,52.0,55.0,58.0,NaN,2020/10/27
1515,58,14,2020,10,28,62.0,62.0,60.0,57.0,53.0,...,54.0,58.0,71.0,59.0,45.0,28.0,55.0,68.0,NaN,2020/10/28
1516,58,14,2020,10,29,62.0,63.0,63.0,68.0,65.0,...,87.0,84.0,80.0,86.0,64.0,67.0,73.0,72.0,NaN,2020/10/29
1517,58,14,2020,10,30,79.0,76.0,73.0,70.0,66.0,...,73.0,87.0,87.0,88.0,89.0,86.0,93.0,91.0,101.0,2020/10/30
1518,58,14,2020,10,31,84.0,76.0,71.0,73.0,67.0,...,90.0,90.0,92.0,98.0,78.0,84.0,76.0,80.0,83.0,2020/10/31

In [7]:
df['DATA'] = pd.to_datetime(df['DATA'], dayfirst=False, errors='coerce')

In [10]:
df

,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,H02,H03,H04,H05,...,H16,H17,H18,H19,H20,H21,H22,H23,H24,DATA
0,4,7,2020,4,1,1.0,2.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2020-04-01
1,4,7,2020,4,2,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,2020-04-02
2,4,7,2020,4,3,2.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2020-04-03
3,4,7,2020,4,4,3.0,2.0,2.0,1.0,1.0,...,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,NaN,2020-04-04
4,4,7,2020,4,5,1.0,2.0,1.0,1.0,1.0,...,2.0,1.0,1.0,2.0,1.0,1.0,4.0,1.0,1.0,2020-04-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1514,58,14,2020,10,27,56.0,60.0,61.0,63.0,62.0,...,59.0,62.0,61.0,61.0,50.0,52.0,55.0,58.0,NaN,2020-10-27
1515,58,14,2020,10,28,62.0,62.0,60.0,57.0,53.0,...,54.0,58.0,71.0,59.0,45.0,28.0,55.0,68.0,NaN,2020-10-28
1516,58,14,2020,10,29,62.0,63.0,63.0,68.0,65.0,...,87.0,84.0,80.0,86.0,64.0,67.0,73.0,72.0,NaN,2020-10-29
1517,58,14,2020,10,30,79.0,76.0,73.0,70.0,66.0,...,73.0,87.0,87.0,88.0,89.0,86.0,93.0,91.0,101.0,2020-10-30
1518,58,14,2020,10,31,84.0,76.0,71.0,73.0,67.0,...,90.0,90.0,92.0,98.0,78.0,84.0,76.0,80.0,83.0,2020-10-31

#### Dropping unnecessary columns for year, month and day

In [8]:
df.drop(columns=['ANY', 'MES', 'DIA'], inplace=True)

#### Converting integers for station and polluter ID to strings

In [10]:
df['ESTACIO'] = df['ESTACIO'].astype(str)
df['CODI_CONTAMINANT'] = df['CODI_CONTAMINANT'].astype(str)

#### Filling NaN with the previous column value

In [12]:
df.bfill(axis=0)

,ESTACIO,CODI_CONTAMINANT,H01,H02,H03,H04,H05,H06,H07,H08,...,H16,H17,H18,H19,H20,H21,H22,H23,H24,DATA
0,4,7,1.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2020-04-01
1,4,7,1.0,1.0,1.0,1.0,1.0,3.0,2.0,1.0,...,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,2020-04-02
2,4,7,2.0,1.0,1.0,1.0,1.0,1.0,5.0,11.0,...,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2020-04-03
3,4,7,3.0,2.0,2.0,1.0,1.0,1.0,1.0,4.0,...,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,2020-04-04
4,4,7,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,1.0,1.0,2.0,1.0,1.0,4.0,1.0,1.0,2020-04-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1514,58,14,56.0,60.0,61.0,63.0,62.0,62.0,63.0,61.0,...,59.0,62.0,61.0,61.0,50.0,52.0,55.0,58.0,101.0,2020-10-27
1515,58,14,62.0,62.0,60.0,57.0,53.0,54.0,57.0,57.0,...,54.0,58.0,71.0,59.0,45.0,28.0,55.0,68.0,101.0,2020-10-28
1516,58,14,62.0,63.0,63.0,68.0,65.0,61.0,61.0,62.0,...,87.0,84.0,80.0,86.0,64.0,67.0,73.0,72.0,101.0,2020-10-29
1517,58,14,79.0,76.0,73.0,70.0,66.0,62.0,63.0,67.0,...,73.0,87.0,87.0,88.0,89.0,86.0,93.0,91.0,101.0,2020-10-30
1518,58,14,84.0,76.0,71.0,73.0,67.0,71.0,68.0,74.0,...,90.0,90.0,92.0,98.0,78.0,84.0,76.0,80.0,83.0,2020-10-31

#### Saving clean dataset to csv

In [14]:
df.to_csv('air_measurements_2020.csv', index=False)