In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../bcn_open_data/Qualitat_Aire_Contaminants.csv',index_col=[0])

In [3]:
df

                 Desc_Contaminant Unitats
Codi_Contaminant
1                             SO2   µg/m³
7                              NO   µg/m³
8                             NO2   µg/m³
12                            NOx   µg/m³
14                             O3   µg/m³
6                              CO   mg/m³
10                           PM10   µg/m³

In [4]:
df.index

Int64Index([1, 7, 8, 12, 14, 6, 10], dtype='int64', name='Codi_Contaminant')

##### The contaminant codes are the index, let's reset the index to get the data as a column

In [5]:
df.reset_index()

   Codi_Contaminant Desc_Contaminant Unitats
0                 1              SO2   µg/m³
1                 7               NO   µg/m³
2                 8              NO2   µg/m³
3                12              NOx   µg/m³
4                14               O3   µg/m³
5                 6               CO   mg/m³
6                10             PM10   µg/m³

In [6]:
df.to_csv('pollutant_code.csv', index=False)